  <div class="card">
  	<%= image_tag portfolio_item.thumb_image unless portfolio_item.thumb_image.nil? %>
  	<p class="card-text">
  		<span>
  			<%= link_to portfolio_item.title, portfolios_show_path(portfolio_item.id) %>
  			<%= portfolio_item.subtitle %>
  		</span>
  	</p>

<!--   	<%= link_to "Edit the portfolio item", edit_portfolio_path(portfolio_item.id) if logged_in?(:site_admin)%>
  	<br><%= link_to "Delete the portfolio item", portfolio_path(portfolio_item.id), method: :delete, data: { confirm: 'Are you sure?' } if logged_in?(:site_admin)%> -->
  </div>